.dashboardProjectsTitle {
  padding: 2rem;
  color: var(--text-color);
}
.tableCell p {
  padding-left: 6rem;
}
.tableCell {
  position: relative;
  margin: auto 3rem;
}
.tableLogo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
